.tweetbox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetbox > form {
    display: flex;
    flex-direction: column;
}

.tweetbox__input {
    padding: 20px;
    display: flex;
}

.tweetbox__input > input {
    border: none;
    font-size: 20px;
    margin-left: 20px;
    flex: 1;
}

.tweetbox__imageInput {
    border: none;
    padding: 20px;
}

.tweetbox__tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    margin-top: 20px !important;
    height: 50px !important;
    margin-left: auto !important;
    width: 80px;
}